<p>
	<strong>&copy; <span id="nml-copyright-year">2025</span> Flex - All Rights Reserved.</strong>
	<br>
	This documentation is the rightful work of generous Flex contributors and maintainers, who strive to keep everything
	clear, accurate, and helpful.
</p>

<p style="font-size: 0.85em; color: var(--copyright-accent-colour);">
	This domain and documentation site are the result of a collaboration between Flex and the <strong>Numelon
		Bespoke</strong> service by <a href="https://numelon.com" target="_blank"
		style="color: var(--md-primary-fg-color); text-decoration: none;">Numelon Ltd.</a> - a company incorporated in
	England and Wales
	under No.
	15801378.
</p>